/*
* File Name: index.html v0.7.0
* Update: 2020.04.28
* Author: zxcv12045
*/
/*
[선택자] {
    [속성] :[속성값];
    [속성] :[속성값];
    [속성] :[속성값];
    [속성] :[속성값];
}

class
id 
tag
*/

/* header */

/* logo */
.logo {
    color: rgb(159, 185, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* header - full screen background */
.full-bg {
    background: url(./images/red-velvet-really-bad-boy-rbb-irene-joy-seulgi-yeri-wendy-s7824.jpg) 
    no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.table-cell {
    display: table;
    width: 100%;
    height: 100%;
}

.container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.header-title {
    display: inline-block;
    width: 50%;
    height: 140px;
    font-size: 35px;
    font-weight: bold;
    padding-top: 25px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffb69f;
    border: brown;
    border-style: solid;
}

.header-sub-title {
    color: rgb(253, 180, 45);
    font-size: 20px;
}

.button {
    padding: 40px;
    margin: 0 20px 0 20px;
}

.button1 {
    display: inline-block;
    width:300px;
    padding: 15px;
    margin-right: 50px;
    color: #fff;
    border: 3px solid #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.button2 {
    display: inline-block;
    width:300px;
    padding: 15px;
    background-color: #ffb69f;
    color: #fff;
    border: 3px solid #ffb69f;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* main menu */
ul {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 15px 10px 8px;
    background: rgb(49, 49, 49);
    list-style: none;
}

ul li {
    float: left;
    margin-right: 10px;
}

ul li a {
    color: rgb(255, 255, 255);
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

/* article background */
.article-bg1 {
    height: 300px;
    padding: 15px;
    background-color: rgb(104, 104, 175);
    text-align: center;
}

.article-bg2 {
    height: 650px;
    padding: 15px;
    background-color: rgb(106, 175, 104);
    text-align: center;
}

.article-bg3 {
    height: 450px;
    padding: 15px;
    background-color: rgb(175, 142, 104);
    text-align: center;
}

.article-bg4 {
    height: 500px;
    padding: 15px;
    background-color: rgb(240, 147, 124);
    text-align: center;
}

.article-bg5 {
    height: 500px;
    padding: 15px;
    background-color: rgb(229, 236, 122);
    text-align: center;
}

/* box model test */
.box1 {
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: brown;
    border: 10px solid black; 
}

.box2 {
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: brown;
    border: 10px dotted black; 
    border-radius: 25px;
}

.box3 {
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: brown;
    border: 10px solid gray; 
    box-shadow: 10px 10px 5px 5px black;
}

/* 멀티미디어 연습*/
.img-size1 {
    width: 250px;
    height: 250px;
    margin: 25px;
}

.img-size2 {
    width: 250px;
    height: 100px;
    margin: 25px;
}

.b-radius1 {
    border-radius: 10%;
}

.b-radius2 {
    border-radius: 25%;
}

.b-radius3 {
    border-radius: 50%;
}

.b-radius4 {
    border-radius: 100%;
    box-shadow: 10px 10px 5px 5px black;
}

/* 테이블 연습 */

thead {
    background-color: #1460ee;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

tfoot {
    background-color: rgb(55, 166, 230);
    color: #fff;
}   

table {
    width: 30%;
    height: 350px;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0,);
}

td, th {
    height:30px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
}

td {
    text-align: center;
}

caption {
    caption-side: bottom;
}

.grid-container {
    background-color: rgb(207, 42, 42);
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.item1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.item2 {
    grid-row: 2 / 4;
}

.item3 {
    grid-column: 2 / 4;
}

.item6 {
    grid-column: 1 / 3;
}

.item9 {
    grid-column: 2 / 4;
}

.item10 {
    grid-column: 1 / 4;
}

.grid-item {
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 20px;
    text-align: center;
}