/*
* File Name: bootstrap.html v0.1.0
* Update: 2020.05.21
* Author: zxcv12045
*/
/*
[선택자] {
    [속성] :[속성값];
    [속성] :[속성값];
    [속성] :[속성값];
    [속성] :[속성값];
}

class
id 
tag
*/

/* header */

/* logo */


/* article background */
.article-bg1 {
    height: 650px;
    padding: 15px;
    background-color: rgb(238, 238, 238);
    text-align: center;
}

.article-bg2 {
    height: 400px;
    padding: 15px;
    background-color: rgb(240, 147, 124);
    text-align: center;
}

.article-bg3 {
    height: 450px;
    padding: 15px;
    background-color: rgb(238, 238, 238);
    text-align: center;
}

.article-bg4 {
    height: 450px;
    padding: 15px;
    background-color: rgb(240, 147, 124);
    text-align: center;
}

.article-bg5 {
    height: 200px;
    padding: 15px;
    background-color: rgb(238, 238, 238);
    text-align: center;
}

.article-bg6 {
    height: 200px;
    padding: 15px;
    background-color: rgb(240, 147, 124);
    text-align: center;
}

.article-bg7 {
    height: 200px;
    padding: 15px;
    background-color: rgb(238, 238, 238);
    text-align: center;
}

/* box model test */
.box1 {
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: brown;
    border: 10px solid black; 
}

.box2 {
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: brown;
    border: 10px dotted black; 
    border-radius: 25px;
}

.box3 {
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: brown;
    border: 10px solid gray; 
    box-shadow: 10px 10px 5px 5px black;
}

/* 멀티미디어 연습*/
.img-size1 {
    width: 250px;
    height: 250px;
    margin: 25px;
}

.img-size2 {
    width: 250px;
    height: 100px;
    margin: 25px;
}

.b-radius1 {
    border-radius: 10%;
}

.b-radius2 {
    border-radius: 25%;
}

.b-radius3 {
    border-radius: 50%;
}

.b-radius4 {
    border-radius: 100%;
    box-shadow: 10px 10px 5px 5px black;
}

/* 테이블 연습 */

thead {
    background-color: #1460ee;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

tfoot {
    background-color: rgb(55, 166, 230);
    color: #fff;
}   

table {
    width: 30%;
    height: 350px;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0,);
}

td, th {
    height:30px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
}

td {
    text-align: center;
}

caption {
    caption-side: bottom;
}

.grid-container {
    background-color: rgb(207, 42, 42);
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.item1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.item2 {
    grid-row: 2 / 4;
}

.item3 {
    grid-column: 2 / 4;
}

.item6 {
    grid-column: 1 / 3;
}

.item9 {
    grid-column: 2 / 4;
}

.item10 {
    grid-column: 1 / 4;
}

.grid-item {
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

/* footer */
footer {
    background-color: rgb(34, 3, 3);
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 40px;
}